* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  width: 100%;
  height: 113px;
  div.name_logo {
    display: flex;
    align-items: center;
    gap: 13px;
  }
  nav {
    position: relative;
    ul.desktop_nav {
      display: none;
    }
    ul.mobile_nav {
      display: none;
      position: absolute;
      right: -30px;
    }

    img.burger_menu:hover ~ ul.mobile_nav {
      display: block;
    }
    ul {
      list-style: none;
      a {
        text-decoration: none;
        color: #222222;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
  button.sign_up {
    display: none;
  }
}

/* section first */
section.first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .section_first_text {
    margin-left: 30px;
    h2 {
      width: 340px;
      font-size: 64px;
      color: #222222;
      font-weight: 700;
    }
    p {
      font-size: 20px;
      font-weight: 400;
      color: #666666;
      width: 324px;
      margin-top: 32px;
      margin-bottom: 48px;
    }
    button.sign_up {
      margin-bottom: 144px;
    }
  }
}

button.sign_up {
  width: 160px;
  height: 49px;
  border-radius: 5px;
  background-color: #002699;
  color: white;
  box-shadow: 0px 8px 16px 0px #fa74363d;
  border: none;
  font-size: 16px;
  font-weight: 600;
}

/* section second */
section.second {
  width: 100%;
  height: 279px;
  background-color: #0026994d;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    color: #222222;
    width: 395px;
  }
  p {
    font-weight: 400;
    line-height: 32px;
    font-size: 18px;
    color: #666666;
    width: 365px;
  }
}
/* section third */
section.third {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 54px;
    color: #222222;
    width: 331px;
    text-align: center;
  }
  p.third_section_paragraph {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #666666;
    text-align: center;
    width: 400px;
    margin-top: 37.7px;
    margin-bottom: 36px;
  }
  div.cars {
    display: flex;
    flex-direction: column;
    gap: 36px;
    img {
      width: 369px;
      height: 285px;
      border-radius: 16px;
    }
    .car_size {
      width: 370px;
      height: 390px;
      border: 2px solid #f2f1f1;
      border-radius: 16px;
      p {
        font-size: 24px;
        color: #222222;
        font-weight: 500;
      }
      span {
        display: inline-block;
        color: #002699;
        font-size: 24px;
        font-weight: 600;
      }
      .car_place_price {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        padding: 0 27px;
      }
    }
    div.black {
      box-shadow: 0px 16px 80px 0px #fe935e33;
    }
  }
}
/* section fourth */
section.fourth {
  width: 100%;
  height: 516px;
  background-color: #002699;
  border-radius: 16px;
  padding: 29px 33px 36px 17px;
  color: white;
  max-width: 1074px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 19px;
  margin: 191px auto;

  h3 {
    width: 350px;
    font-size: 20px;
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 63px;
    padding-right: 80px;
    label {
      display: block;
      font-size: 16px;
      margin-bottom: 3px;
    }
    input {
      width: 100%;
      height: 58px;
      border-radius: 10px;
      border: none;
      outline: none;
      margin-bottom: 19px;
      padding-left: 20px;
    }
    input::placeholder {
      font-size: 12px;
    }
    div.sub {
      display: flex;
      justify-content: flex-end;
      padding-top: 40px;
      button.subscribe {
        background-color: transparent;
        border: none;
        color: white;
        font-size: 16px;
      }
    }
  }
}

/* section fifth */
section.fifth {
  display: flex;
  justify-content: center;
  margin-bottom: 73px;
  iframe {
    display: block;
    width: 100%;
    max-width: 1074px;
  }
}

/* responsive */

@media screen and (min-width: 1150px) {
  header img.burger_menu {
    display: none;
  }
  header nav ul.desktop_nav {
    display: flex;
    gap: 32px;
  }
  header button.sign_up {
    display: block;
  }
  section.first {
    flex-direction: row;
    gap: 111px;
    margin-top: 90px;
    .section_first_text {
      h2 {
        width: 536px;
      }
      p {
        width: 496px;
        margin-bottom: 108px;
      }
    }
  }
  section.second {
    gap: 43px;
    height: 352px;
    h2 {
      width: 521px;
    }
    p {
      width: 482px;
    }
  }
  section.third {
    margin-top: 111px;
    height: 864px;

    h2 {
      width: 438px;
    }
    p.third_section_paragraph {
      width: 521px;
      margin-top: 26px;
      margin-bottom: 61px;
    }
    div.cars {
      flex-direction: row;
      gap: 30px;
    }
  }
  section.fifth {
    margin-bottom: 93px;
    iframe {
      height: 593px;
    }
  }
}
